<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      {{ topic }}
    </ion-title>
    <ion-buttons start>
      <button ion-button color="dark" icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button></ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content style="background-image: url('assets/imgs/test.jpg');
                      background-attachment: fixed; 
                      background-size: contain;
                      background-position : center;"
  padding>
  <ion-item color="light">
    <ion-icon name="ios-ribbon" item-start></ion-icon>
        <b style="font-size: 17px;">
        Your score is : </b>&nbsp;
        <ion-badge item-center>{{ score }}</ion-badge>
        <button ion-button color="secondary" item-right (click)="presentAlert()">
          <b style="font-size: 16px;">&nbsp; HELP &nbsp;</b>
        </button>
  </ion-item>
    <ion-slides style="margin-top:5%;">
    <ion-slide *ngFor="let slid of currentItems">    
        <ion-card>
                <img style="width:100%;
                            border:1px solid lawngreen;
                            box-shadow:1px 1px 1px; " src={{slid.image}} />
        </ion-card>
    </ion-slide>
  </ion-slides>

  <!--for Debugging-->
  <!-- 
  <ion-card>
    <ion-card-header>This is what I understood...</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let match of matches">
          {{ match }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
 -->

</ion-content>




<ion-footer>

  <button class="bstyle" ion-button round color="secondary" ion-button icon-start (click)="startListening()">
    <ion-icon ios="ios-mic" md="md-mic"></ion-icon>
    Tap to speak
  </button>


    <button class="inlineit"style="float:left;margin-bottom:5%;" color="light" ion-button icon-start (click)="next()" [disabled]="!isenabled">
      <ion-icon ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>
      Next
    </button>

    <ion-buttons end>
      <button class="inlineit"style="float:right;margin-bottom:5%;" color="light" ion-button icon-start (click)="skip()">
        <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>
        Skip
      </button>
    </ion-buttons>

</ion-footer>